<div>
  form will go here
  <% form_for @like, url: like_path do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :post_id, :value => '1' %>
  <span class="glyphicon glyphicon-heart-empty"></span>
  <% end %>
</div>
