<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div>
        <%= render 'form' %>
      </div>
      <div>
        <% @posts.each do |post| %>
        <div class="post">
          <h3><%= post.user.name %></h3>
          <%= image_tag post.image.url(:medium) %>
          <p><button class="glyphicon glyphicon-heart-empty"></button></p>
          <p><%= post.body %></p>
        </div>

        <% end %>
      </div>
    </div>
  </div>
</div>